<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Page Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .row {
            padding:10px;
        }
        .panel {
            padding: 20px;
            height:60px;
        }
    </style>
</head>
<body>
     <script type="text/javascript">
        var myApp = angular.module("myApp", []);
        window.fbAsyncInit = function() {
            FB.init({ 
              appId: '120754375278986',
              autoLogAppEvents : true,
              xfbml : true,
              version : 'v2.10'
            });
            FB.AppEvents.logPageView();
        };

         (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

       myApp.factory('facebookService',function($q) {
            return {
                checkLoginStatus : function(){
                    var deferred = $q.defer();
                    var check = false;
                    var uid = '';
                    var accessToken = '';
                    var result = {};
                    FB.getLoginStatus(function(response) {
                    if (response.status === 'connected') {
                        check = true;
                        uid = response.authResponse.userID;
                        accessToken = response.authResponse.accessToken;
                        result = {
                            status:check,
                            message: "Login successful",
                            uid:uid,
                            accessToken:accessToken
                        };
                        deferred.resolve(result);
                    } else if (response.status === 'not_authorized') {
                        check = false;
                        result = {
                            status: check,
                            message: response.status
                        };
                        deferred.reject(result);
                    } else {
                        result = {
                            status: check,
                            message: "Login failed"
                        };
                        deferred.resolve(result);
                    }
                    });
                    return deferred.promise;
                },
                getPagesList: function() {
                    var deferred = $q.defer();
                    FB.api('/me/accounts', {
                            scope: 'pages_show_list',
                            auth_type: 'request'
                    }, function(response) {
                        // console.log(response);
                        if (!response || response.error) {
                            var pages = {
                                status:false,
                                message:"GET_LIST_PAGE_ERROR",
                                details: response.error
                            };
                            deferred.resolve(pages);
                        } else {
                            var pages = {
                                status:true,
                                message:"GET_LIST_PAGE_SUCCESSFUL",
                                data: response.data,
                                paging:response.paging
                            };
                            deferred.resolve(pages);
                        }
                    });
                    return deferred.promise;
                },
                FBLogin: function(){
                    var deferred = $q.defer();
                    var result = {};
                    FB.login(function(response) {
                        if (response.authResponse) {
                            console.log('Welcome!  Fetching your information.... ');
                            console.log(response);
                            FB.api('/me', function(response) {
                            result = {
                                status: true,
                                message:"LOGIN_SUCCESSFUL",
                                info:{
                                    uid: response.id,
                                    uname: response.name
                                }
                            };
                            deferred.resolve(result);
                        });
                        } else {
                            console.log('User cancelled login or did not fully authorize.');
                            result = {
                                status: true,
                                message:"LOGIN_UNAUTHORIZE",
                            };
                            deferred.resolve(result);
                        }
                    },  {
                            scope: 'manage_pages',
                            auth_type: 'rerequest'
                        },
                        {
                            scope: 'pages_show_list',
                            auth_type: 'granted'
                        }
                    );
                    return deferred.promise;
                },
                FBLogout : function(){
                    var deferred = $q.defer();
                    FB.logout(function(response) {
                        console.log('Welcome!  Fetching your information.... ');
                        deferred.resolve(response);
                    });
                    return deferred.promise;
                },
                getPageInfo : function(){
                    var deferred = $q.defer();
                    FB.Canvas.getPageInfo(
                        function(info) {
                            console.log(info);
                            deferred.resolve(info);
                        }
                    );
                    return deferred.promise;
                },
                getPageTab : function(){
                    var deferred = $q.defer();
                    FB.ui({
                        method: 'pagetab',
                        redirect_uri: 'YOUR_URL'
                    }, 
                    function(response){
                        deferred.resolve(response);
                    });
                    return deferred.promise;
                },
                getPictureProfile : function(ID){
                    var deferred = $q.defer();
                    FB.api(
                        "/"+ ID +"/picture",
                        function (response) {
                            if (response && !response.error) {
                                deferred.resolve(response);
                            }
                        }
                    );
                    return deferred.promise;
                },
                getAssignedPage : function(ID){
                    var deferred = $q.defer();
                    FB.api(
                        "/" + ID + "/assigned_pages",
                        function (response) {
                          if (response && !response.error) {
                            deferred.resolve(response);
                          }
                          else{
                            deferred.resolve(response.error);
                          }
                        }
                    );
                    return deferred.promise;
                }
            };    
        });
        myApp.controller('myCtrl', ['$scope', 'facebookService', function($scope, facebookService){
            $scope.checkLogin = false;
            $scope.imgProfileUrl = "";
            $scope.FBName = "";
            $scope.FBId = "";
            $scope.btnLogin = "Login";
            $scope.btnLogout = "Logout";
            $scope.listPage = [];
            $scope.hiddened = "";
            $scope.checkLoginStatus = function(){
                facebookService.checkLoginStatus().then(function(response){
                    $scope.statusLogin = response.status;
                    console.log(response);
                });
            };
            $scope.FBLogin = function(){
                $scope.checkLogin = true;
                facebookService.FBLogin().then(function(response){
                    if(response.status){
                        if(response.info.uname !== "" && response.status){
                            $scope.FBName = "Chào " + response.info.uname;
                            $scope.checkLogin = response.status;
                            $scope.FBId = response.info.uid;
                            var ID =response.info.uid;
                            facebookService.getPictureProfile(ID).then(function(response){
                                $scope.imgProfileUrl = response.data.url; 
                            });
                            facebookService.getPagesList().then(function(response){
                                $scope.listPage = response.data;
                                $scope.checkLogin = false;
                            });
                        }
                        else{
                            $scope.FBName = "Chưa đăng nhập";
                            $scope.checkLogin = false;
                        }
                    }
                    else{
                        $scope.FBName = "Lỗi đăng nhập";
                        $scope.checkLogin = false;
                    }
                });
            };
            $scope.getPagesList = function(){
                facebookService.getPagesList().then(function(response){
                    console.log(response);
                    $scope.listPage = response.data;
                    console.log($scope.listPage);
                });
            };

            $scope.FBLogout = function(){
                facebookService.FBLogout().then(function(response){
                    $scope.FBName = "Logout";
                    $scope.FBId = "";
                    $scope.hiddened = "hidden";
                    $scope.listPage = [];
                });
            };

            $scope.getPageTab =function(){
                facebookService.getPageTab().then(function(response){
                    
                });
            };
            $scope.getPictureProfile = function(){
                var ID = $scope.FBId;
                facebookService.getPictureProfile(ID).then(function(response){
                    $scope.imgProfileUrl = response.data.url; 
                });
            };
            $scope.getAssignPage = function () {
                var ID = $scope.FBId;
                facebookService.getAssignedPage(ID).then(function (response) {
                    console.log(response);
                });
            }
        }]);
</script>
    <div ng-controller="myCtrl">
        <div class="container">
            <div class="row">
                <h1 style="padding:auto;"><span><img class="reponsive" src='{{ imgProfileUrl }}'></span> {{ FBName }}</h1>
            </div>
            <div class="row">
                <h4>{{ FBId }}</h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default " ng-click="FBLogin()" ng-disabled="{{ checkLogin }}">{{ btnLogin }}</button>
                    <button class="btn btn-danger" ng-click="FBLogout()" ng-disabled="{{ checkLogin }}">{{ btnLogout }}</button>
                    <button class="btn btn-info" ng-click="checkLoginStatus()">Check</button>
                    <button class="btn btn-default" ng-click="getPageTab()">Get Page</button>
                    <button class="btn btn-success" ng-click="getPagesList()">Get List Page</button>
                    <button class="btn btn-warning" ng-click="getPictureProfile()" ng-show="false">Get Profile Picture</button>
                    <!-- <button ng-click="getAssignPage()" >Get Assigned Page</button> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="background:black;">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="row" ng-repeat="page in listPage">
                            <div class="panel">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                        <span> {{ page.name }} </span>
                                    </div>
                                    <div class="col-md-4">
                                        <p>03/10/2017</p>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="">Ngưng nhận tin nhắn</a><span> | </span><a href="">Ngắt kết nối</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>