<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Page Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script> -->
    <!-- <script src="http://connect.facebook.net/en_US/all.js"></script> -->
</head>
<body>
     <script type="text/javascript">
        // var myApp = angular.module("myApp", ['ngRoute']);
        var myApp = angular.module("myApp", []);
        window.fbAsyncInit = function() {
            FB.init({ 
              appId: '120754375278986',
              autoLogAppEvents : true,
              xfbml : true,
              version : 'v2.10'
            });
            FB.AppEvents.logPageView();
        };

         (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

        myApp.controller('myCtrl', ['$scope', function($scope){
            $scope.checkLogin = true;
            $scope.FBName = '';
            $scope.btnLogin = "Login";
            $scope.btnLogout = "Logout";
            // $scope.check = facebook.checkLoginStatus();
            $scope.checkLoginStatus = function(){
                var check = false;
                var uid = '';
                var accessToken = '';
                FB.getLoginStatus(function(response) {
                  if (response.status === 'connected') {
                    // the user is logged in and has authenticated your
                    // app, and response.authResponse supplies
                    // the user's ID, a valid access token, a signed
                    // request, and the time the access token 
                    // and signed request each expire
                    uid = response.authResponse.userID;
                    accessToken = response.authResponse.accessToken;
                    check = true;
                    console.log(check + "ok");
                  } else if (response.status === 'not_authorized') {
                    // the user is logged in to Facebook, 
                    // but has not authenticated your app
                    check = false;
                    console.log(check + "fail 1");
                  } else {
                    // the user isn't logged in to Facebook.
                    // $scope.checkLogin = false;
                    check = false;
                    console.log(check + "fail 2");
                  }
                });
                console.log(check + "final");
                if (check) {
                    $scope.checkLogin = true;
                }else{
                    $scope.checkLogin = false;
                }
            };
            $scope.FBLogin = function(){
                FB.login(function(response) {
                    if (response.authResponse) {
                     console.log('Welcome!  Fetching your information.... ');
                     FB.api('/me', function(response) {
                       console.log('Good to see you, ' + response.name + '.');
                       var log = response;
                       $scope.FBName = 'Chào ' + response.name;
                       $scope.checkLogin = false;
                       console.log(log);
                     });
                    } else {
                     console.log('User cancelled login or did not fully authorize.');
                     $scope.checkLogin = true;
                     $scope.FBName = 'Có lỗi phát sinh....';
                    }
                });
            };
            $scope.getPageInfo = function(){
                FB.Canvas.getPageInfo(
                    function(info) {
                        alert('Width: ' + info.clientWidth + ' Height: ' + info.clientHeight);
                    }
                );
            };

            $scope.FBLogout = function(){
                FB.logout(function(response) {
                  // user is now logged out
                  $scope.checkLogin = false;
                });
            };
        }]);
</script>
    <div ng-controller="myCtrl">
        <h1>{{ FBName }}</h1>
        <button ng-click="checkLoginStatus()">Check</button>
        <button ng-click="FBLogin()">{{ btnLogin }}</button>
        <button ng-click="FBLogout()">{{ btnLogout }}</button>
        <button ng-click="getPageInfo()">Page info</button>
    </div>
</body>
</html>